div#client {
  padding-top: 70px;

  .category {
    text-transform: capitalize;
  }

  #login-buttons {
    margin-top: 17px !important;
  }

  #login-dropdown-list {
    left: -180px;
    top: 30px;
  }

  .account-action-group {

    margin-bottom: 10px;
    a {
      display: block;
      margin-bottom: 3px;
      text-align: left;
      padding-left: 10px;
    }
  }
}
