<template id="admin-add-category" name="adminAddCategory">
  <form class="admin-add-category form-horizontal" method="post">
    <div class="form-group">
       <label for="inputEmail" class="control-label col-xs-3">Category Name</label>
       <div class="col-xs-8">
         <input class="form-control" type="text" name="categoryName" placeHolder="Category Name">
       </div>
    </div>

    <div class="form-group">
       <label for="inputEmail" class="control-label col-xs-3">Short Description</label>
       <div class="col-xs-8">
         <input class="form-control" type="text" name="categoryShortDesc" placeHolder="Short Description">
       </div>
    </div>

    <div class="form-group">
      <label for="inputEmail" class="control-label col-xs-3">Parent Category</label>
      <div class="col-xs-8">
        <select class="form-control" name="categories" multiple>
          {{#each categories}}
          <option value="{{_id}}">{{name}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-offset-3 col-xs-8">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>

  </form>

</template>
