<template id="sidebar" name="sidebar">
  {{# if currentUser}}
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="shopping-cart">
      <div class="list-group">
        <span class="list-group-item shopping-cart">
          <h4 class="list-group-item-heading">Your current cart</h4>
          <p class="list-group-item-text">
            Item <span class="badge pull-right">{{cartInfo.item}}</span>
          </p>

          <p class="list-group-item-text">
            Total Price  <span class="badge pull-right">{{cartInfo.total}}</span>
          </p>

          <a href="{{ pathFor 'shoppingCart' }}" class="shopping-cart-btn btn btn-info">Go to cart</a>
          <a href="#" class="checkout-btn btn btn-primary">Check out</a>

        </span>
      </div>
    </div>
  {{/if}}
  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
    <div class="list-group">
        <a href="{{ pathFor 'product' _category='all'}}" class="list-group-item all-categories">All</a>
        {{#each categories}}
        <a href="{{ pathFor 'product' _category=_id}}" class="list-group-item category">{{name}}</a>
      {{/each}}
    </div>
  </div><!--/.sidebar-offcanvas-->
</template>
