<template id="sidebar" name="sidebar">
  <div class="col-xs-6 col-sm-3 account-action-group">
    <a href="#" class="btn btn-info">Login</a>
    <a href="#" class="btn btn-info">Register</a>
  </div>

  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
    <div class="list-group">
        <a href="{{ pathFor 'product' _category='all'}}" class="list-group-item all-categories">All</a>
        {{#each categories}}
        <a href="{{ pathFor 'product' _category=_id}}" class="list-group-item category">{{name}}</a>
      {{/each}}
    </div>
  </div><!--/.sidebar-offcanvas-->
</template>
