<template id="cart" name="shoppingCart">
  <h1>Your current cart</h1>

  <div class="row">

    <table class="table table-striped">
      <thead>
        <tr>
            <th>
              No
            </th>
            <th>
              Product Name
            </th>
            <th>
              Quantity
            </th>
            <th>
              Price
            </th>
        </tr>
      </thead>
      <tbody>

        {{#each items}}
        <tr>
          <td>
            1
          </td>
          <td>
            {{name}}
          </td>
          <td>
            <input class="product-quantity" name="name" value="{{quantity}}">
          </td>

          <td>
            $ 12
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="row checkout-temp-info pull-right">
      <span><b>Total Price</b> 12$</span>
  </div>

  <div style="clear:both">
  </div>

  <div class="row pull-right">
    <input type="button" name="checkout" value="Checkout" class="btn btn-primary">
    <input type="button" name="update" value="Update" class="btn btn-info">
    <input type="button" name="cancel" value="Cancel" class="btn btn-warning">
  </div>
</template>
